/* discover css*/
.discoverRecipes {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-auto-rows: 250px;
	gap: 0.5rem;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
	background-color: rgba(147, 147, 147, 0.229);
	border: 2px solid rgba(137, 137, 137, 0.24);
}

.discoverRecipes h2 {
	background-color: var(--backgroundColor);
	margin-top: 0;
	font-size: 15px;
}

.gridItem {
	overflow: hidden;
	display: grid;
}

.gridItem img {
	object-fit: cover;
	justify-self: center;
	height: 100%;
	width: 110%;
}

.gridItem:nth-child(1) {
	grid-column: span 7;
}

.gridItem:nth-child(2),
.gridItem:nth-child(5) {
	grid-column: span 4;
}

.gridItem:nth-child(3),
.gridItem:nth-child(4) {
	grid-column: span 3;
}

@media (min-width: 1000px) {
	.discoverRecipes {
		width: 700px;
		margin: auto;
	}

	.gridItem:nth-child(5) {
		grid-column: span 3;
	}
	.gridItem:nth-child(2),
	.gridItem:nth-child(7) {
		grid-column: span 3;
	}

	.gridItem:nth-child(1) {
		grid-column: span 5;
	}

	.gridItem:nth-child(2),
	.gridItem:nth-child(3),
	.gridItem:nth-child(4) {
		grid-column: span 2;
	}
}
