@font-face {
	font-family: "title";
	src: url("../fonts/title.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Tab styling */
.nav-link {
	/* styling for buttons goes here */
}

.nav-link.active {
	/* styling for active link goes here */
}

.tab-panel {
	display: none;
}

.tab-panel.active {
	display: block;
}

/* recipe css */

body {
	height: 100vh;
	padding: 20px;
	background-image: url("../IMG/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	text-align: center;
	font-family: "title";
	color: rgba(255, 255, 255, 0.85);
	text-shadow: 3px 2px 5px black;
}

h2 {
	text-align: center;
	font-family: "title";
	margin: 20px 0 20px 0;
	color: rgba(255, 255, 255, 0.843);
	text-shadow: 3px 2px 5px black;
}

.navbar {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin-top: 20px;
	color: rgba(182, 182, 182, 0.833);
}

.navBorderBottom {
	background-color: rgba(0, 0, 0, 0.269);
	height: 2px;
	margin-top: 30px;
}
/* discover css*/

#discoverContainer {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(10, 1fr);
	gap: 5px;
}

.gridItem {
	background-color: rgb(187, 187, 187);
}

.gridItem:nth-child(1) {
	grid-column: 1/4;
	grid-row: 1/3;
	height: 200px;
}

.gridItem:nth-child(2) {
	grid-column: 4/7;
}

.gridItem:nth-child(3) {
	grid-column: 4/7;
}

.gridItem:nth-child(4) {
	grid-column: 1/5;
}

.gridItem:nth-child(5) {
	grid-column: 5/7;
	grid-row: 3/6;
}

.gridItem:nth-child(6) {
	grid-column: 1/3;
	grid-row: 4/6;
}

.gridItem:nth-child(7) {
	grid-column: 3/5;
	grid-row: 4/6;
}

.gridItem:nth-child(8) {
	grid-column: 1/7;
	grid-row: span 2;
}

.gridItem:nth-child(9) {
	grid-column: 1/4;
	grid-row: 8/10;
}

.gridItem:nth-child(10) {
	grid-column: 4/7;
}

.gridItem:nth-child(11) {
	grid-column: 4/7;
}

.gridItem:nth-child(12) {
	grid-column: span 4;
}

.gridItem:nth-child(13) {
	grid-column: 5/7;
}
/* ///discover css*/

/* recipe css */
.search {
	margin: 30px 0 20px 0;
	width: 100%;
	height: 30px;
}

.img {
	width: 90%;
	margin: auto;
	height: 90px;
	background-color: lightgrey;
}
/* slutar här */

/* Här börjar css för kontaktformuläret */
#contactContainer {
  background-color: rgba(0, 0, 0, 0.449);
  padding: 20px;
  border-radius: 10px;
  height: 600px;
  box-sizing: border-box;
}

#contactForm {
	display: flex;
	flex-direction: column;
}

#inputName {
	width: 40%;
  height: 25px;
	margin-bottom: 10px;
  padding-left: 10px;
}

#inputEmail {
	width: 40%;
  height: 25px;
	margin-bottom: 30px;
  padding-left: 10px;
}

.textArea {
	height: 150px;
	width: 100%;
	margin-bottom: 30px;
  padding: 10px;
}

#btnContact {
	width: 20%;
  height: 30px;
	align-self: flex-end;
}
/* Här slutar css för kontaktformuläret */
/* Här börjar css för footern */
#socialIcons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
#socialIcons a {
	margin: 20px;
  color: black;
}
/* Här slutar css för footern */

/* Sökta ingredients element */
.storedIngredientsWrapper {
	display: flex;
}

.storedIngredientsWrapper > button {
	margin-left: 8px;
}

/* Recipe by ingredients innehåll */
#contentContainer {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
}